  

#back-img {
  color: white;
  border: 2px solid black;
  padding: 25px;
  background: url(https://wallpaperaccess.com/full/1630351.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 200px;
  text-align: center;
}

button{
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

#content{
  text-align: center;
}

.investment {  
  border: none;
  border-bottom: 1px solid #00334e;
  color: #00334e;
  display: inline-block;
  /* float: right; */
  font-size: 1.067em;
  font-weight: 600;
  border-radius: 0;
  text-align: right;
  width: 100px;
  background-color: transparent;
  
}

.investment:focus{
  outline: none;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 20px;  
  background:grey;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  color: red;
}

.slide{
  padding-left: 200px;
}


